
<ion-view>
    <ion-nav-title align-title="center">
        <h1 class="title thead">分类</h1>
        <button class="button button-clear icon-right ion-ios-search" style="color:#64a131;font-size: 16px;"></button>
    </ion-nav-title>
    <ion-content class="main has-footer has-header has-tabs" style="background:url(images/bgbgbg_03.jpg) repeat;">
        <div class="row">
            <div class="fontbox" ui-sref="tab.buyarea">
                <h3>果园精选</h3>
                <p>The Specials</p>
            </div>
            <div class="col-25" ui-sref="tab.buyarea">
                <img src="images/classic.jpg">
            </div>
            <div class="fontbox marginLeft">
                <h3>新鲜水果</h3>
                <p>Fresh Fruits</p>
            </div>
            <div class="col-25">
                <img src="images/fresh.jpg">
            </div>
        </div>
        <div class="row">
            <div class="fontbox">
                <h3>肉类禽蛋</h3>
                <p>Meat&Eggs</p>
            </div>
            <div class="col-25">
                <img src="images/meat.jpg">
            </div>
            <div class="fontbox marginLeft">
                <h3>蔬菜瓜果</h3>
                <p>Vegetables</p>
            </div>
            <div class="col-25">
                <img src="images/veg.jpg">
            </div>
        </div>
        <div class="row">
            <div class="fontbox">
                <h3>水产海鲜</h3>
                <p>Seafood</p>
            </div>
            <div class="col-25">
                <img src="images/seafood.jpg">
            </div>
            <div class="fontbox marginLeft">
                <h3>礼品礼盒</h3>
                <p>Gifts</p>
            </div>
            <div class="col-25">
                <img src="images/gift.jpg">
            </div>
        </div>
        <div class="row">
            <div class="fontbox">
                <h3>速食调料</h3>
                <p>Fast-food&Sauces</p>
            </div>
            <div class="col-25">
                <img src="images/sauces.jpg">
            </div>

        </div>

    </ion-content>
    <div class="modall"></div>
</ion-view>
